@using Models;

@foreach (var aiCar in Manager.Cars)
{
    <div>
        <div class="ai-car @GetColor(aiCar)-car @GetCss(aiCar)" style="@GetStyles(aiCar)" />
        <div class="@GetLightsCss(aiCar)" style="@GetStyles(aiCar)"></div>
    </div>
}

@code {
    [Parameter]
    public AICarManager Manager { get; set; }

    [Parameter]
    [EditorRequired]
    public StageManager StageManager { get; set; }

    private string GetColor(AICarModel model)
    {
        return model.Color.ToLower();
    }

    private string GetCss(AICarModel model)
    {
        var crash = model.HasCollision ? "car-crash" : string.Empty;
        return $"{crash}";
    }

    private string GetLightsCss(AICarModel model)
    {
        var carCss = GetCss(model);
        var lights = StageManager.CurrentStage.IsNightTime ? "ai-car-lights" : "";
        return $"{carCss} {lights}";
    }
    
    private string GetStyles(AICarModel model)
    {
        return $"top: {model.Top}px; left: {model.Left}px; height: {model.Height}px; width: {model.Width}px";
    }
}
